<Layouts.app flash={@flash} current_scope={@current_scope} current_path={@current_path}>
  <.header>
    Listing Urls
    <%!-- <:actions>
      <.button variant="primary" navigate={~p"/urls/new"}>
        <.icon name="hero-plus" /> New Url
      </.button>
    </:actions> --%>
  </.header>
</Layouts.app>
